@tailwind base;
@tailwind components;
@tailwind utilities;


.lion {
    background:
    linear-gradient(to bottom, rgba(38, 70, 83, 0.8), rgba(0,0,0,0)),
    url('../public/images/lion.jpeg');
    background-size: contain;
}
    
html, body {
    height: 100%;
};
